{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">¿Estás seguro que deseas dar de baja al empleado?</h3>
    
    <p><strong>Nombre:</strong> {{ empleado.usuario.first_name }} {{ empleado.usuario.last_name }}</p>
    <p><strong>DNI:</strong> {{ empleado.dni }}</p>
    <p><strong>Email:</strong> {{ empleado.usuario.email }}</p>

    <form method="post">
        {% csrf_token %}
        <a href="{% url 'usuarios:lista_empleados' %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-danger">Dar de Baja</button>
    </form>
</div>
{% endblock %}