{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Registrar nuevo Empleado</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">Registrar Empleado</button>
        <a href="{% url 'usuarios:lista_empleados' %}" class="btn btn-secondary">Volver</a>
    </form>
</div>

{% endblock %}
