{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4 text-light">Registrar nuevo Empleado</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">
            {% if titulo == "Modificar Empleado" %}
                Actualizar Empleado
            {% else %}
                Registrar Empleado
            {% endif %}
        </button>
        <a href="{% url 'usuarios:lista_empleados' %}" class="btn btn-secondary">Volver</a>
    </form>
</div>

{% endblock %}
