{% extends 'base.html' %}

{% block title %}Estadisticas{% endblock %}

{% load static %}
<head>
    {% block extra_css %}<link rel="stylesheet" href="/static/css/Estilos_Estadisticas.css">{% endblock %}
</head>

{% block content %}
    <br><br><br>
    <h3 class="text-light">Ganancias por periodo</h3>
    <br>
    <form method="GET" action="">
      <label for="month"><strong>Mes y año:</strong> </label>
      <input type="month" id="month" name="month" max="2025-07">
      <button type="submit" class="botonsito">Enviar</button>
    </form>
    <br>
    <img src="data:image/png;base64,{{ grafico_ganancias }}" alt="Gráfico de autos más alquilados">
    <br><br><br><br>
    <h3 class="text-light">Usuarios con mas reservas realizadas</h3><br>
    <img src="data:image/png;base64,{{ grafico_usuarios }}" alt="Gráfico de autos más alquilados">
    <br><br><br><br>
    <h3 class="text-light">Modelos más alquilados</h3><br>
    <img src="data:image/png;base64,{{ grafico_vehiculos}}" alt="Gráfico de autos más alquilados">

{% endblock %}
