
{% extends 'base.html' %}
<!--<>-->



{% load static %}
<head>
    {% block extra_css %}<link rel="stylesheet" href="/static/css/Estilos_VehiculoDetails.css">{% endblock %}
</head>
{% block content %}

{% block title %}Detalle {{ vehiculo.marca }} {{ vehiculo.modelo }}{% endblock %}
<div>
    <div class="d-flex bg-light justify-content-center align-items-center imagenes">
        {% if vehiculo.imagen %}
            <img src="{{ vehiculo.imagen.url }}" class="card-img-top" alt="{{ vehiculo }}" style="width: 632px; height: 420px; object-fit: cover;">
        {% else %}

            <i class="fas fa-car fa-3x text-secondary"></i>

        {% endif %}
    </div>
    
    <div id="Datos">
        <h3 class="mb-0 card-header bg-primary text-dark Datos-titulo"> {% if vehiculo.id %} {{ vehiculo.marca }} {{ vehiculo.modelo }} {% else %} Vehiculo no encontrado {% endif %}</h3>
        <p class="card-text Datos-subtitulo">
            <span class="badge {% if vehiculo.disponible %}bg-success{% else %}bg-danger{% endif %}" style="font-size: 18px;">
                {% if vehiculo.disponible %}Disponible{% else %}No disponible{% endif %}
            </span>
            <span class="badge bg-info text-dark" style="font-size: 18px;">{{ vehiculo.tipo }}</span>
        </p>

        <ul class="list-group list-group-flush mb-3 lista-main">
            <li class="lista-detalles list-group-item"><i class="fas fa-users me-2" style="margin-right: 10px;"></i> {{ vehiculo.capacidad }} pasajeros</li>
            <li class="lista-detalles list-group-item"><i class="fas fa-calendar me-2" style="margin-right: 10px;"></i> {{ vehiculo.ano }}</li>
            <li class="lista-detalles list-group-item"><i class="fas fa-money-bill-wave me-2" style="margin-right: 10px;"></i> ${{ vehiculo.precio_por_dia }} / día</li>
            {% if vehiculo.sucursal %}
            <li class="lista-detalles list-group-item"><i class="fas fa-building me-2" style="margin-right: 10px;"></i> {{ vehiculo.sucursal }}</li>
            {% endif %}
            <li class="lista-detalles list-group-item"><i class="fa-solid fa-gauge" style="margin-right: 10px;"></i> {{ vehiculo.kilometraje }}km </li>
            <li class="lista-detalles list-group-item"><strong>Patente: </strong>{{ vehiculo.patente }} </li>
            <li class="lista-detalles list-group-item"><strong>Reembolso: </strong>{{ vehiculo.politica_reembolso }} </li>
            <div class="descripcion-div">
                <strong class="descripcion-titulo">Descripción</strong>
                <div class="descripcion-body">
                    {% if vehiculo.descripcion %} {{ vehiculo.descripcion }} {% else %} 
                    <p style="font-style: italic;">No hay descripción patra este vehiculo</p> 
                    {% endif %}
                </div> 
            </div>
        </ul>

       <div class="d-grid gap-2">
            {% if not user.is_staff %}
                {% if user.is_authenticated %}
                    <a href="{% url 'reservas:crear' vehiculo.pk %}" class="btn btn-primary">Continuar con la reserva</a>
                {% else %}
                    <a href="http://127.0.0.1:8000/usuarios/login/" class="btn btn-primary">Iniciar sesión para reservar</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
     
</div> 
{% endblock %}