{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand Title-pag" href="{% url 'home' %}">
            <img src="{% static 'img/marialogo.png' %}" width="150px" height="79.34px" alt="Logo"> <!--Alquileres Maria -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'vehiculos:lista' %}">Vehiculos</a>
                </li>
                {% if user.is_authenticated and not user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservas:lista' %}">Mis Reservas</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'usuarios:perfil' %}">Mi Perfil</a></li>
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Administracion</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar Sesion</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios:login' %}">Iniciar Sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuarios:registro' %}">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>